* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --cor-fundo: #0062be;
    --botoes-cabeca: #fff;
    --cor-texto: #fff;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-fundo);
    transition: 0.5s;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    display: flex;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: var(--botoes-cabeca);
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

.conteudo {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudo .textBox {
    position: relative;
    max-width: 600px;
}

.conteudo .textBox h2 {
    color: var(--cor-texto);
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
}

.conteudo .textBox h2 span {
    font-size: 2em;
}

.para {
    color: var(--cor-texto);
}

.conteudo .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: var(--cor-texto);
    color: black;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercases;
}

.conteudo .imgBox {
    width: 600px;
    display: flex;
    padding-left: 50px;
    margin-top: 50px;
    justify-content: flex-end;
}
